indow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: '100%';
}.inputW

#inputText {
    color: green
}

/* ListItem */
.listItemWrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    min-height: 100px;
    border-radius: 7px;
    border-width: 1px;
    border-color: #1e2d31;
    margin-bottom: 15px;
    background-color: whitesmoke;
    color: #000;
    padding: 5px 15px 5px 15px;
}

.blockItem {
    padding: 0px;
    margin: 0px;
}

.listRow {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
}

#listTitleText {
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    padding: 0px;
    padding-left: 10px;
    margin: 0px;
}

#listDescText {
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-size: 1.0em;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.listBottomRow {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 10px;
    justify-content: space-between;
    align-items: flex-end;
}

#priceText {
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-size: 22px;
    font-weight: bold;
    padding: 0px;
    padding-right: 10px;
    margin: 0px;
    text-align: end;
}

#listBottomText {
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

/* ******* TOTAL DISPLAY ******* */
#totalDisplayWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    bottom: 0;
    box-sizing: border-box;
    align-self: flex-end;
}

.totalRows {
    flex-direction: row;
}

.totalTextColor {
    color: black;
    margin: 0;
}

#totalText {
    font-size: 2em;
    font-weight: bold;
}

.actionButton {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    background-color: #ff4943;
    justify-content: center;
    align-items: center;
    transition: all .1000s ease-in-out;
    margin-bottom: 1.5em;
}

.actionButtonTitle {
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.actionButton:hover {
    background-color: black;
}

.discountWindow {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #ff4943;
}

#discountButtonRow {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#discountBody {
    height: 100%;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

.discountBodyText {
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-size: 1em;
}

.smallButton {
    width: 100px;
    height: 50px;
    border-radius: 7px;
    border-width: 2px;
    border-color: #1b2026;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1b2026
  }

  .banner {
      display: flex;
      height: 60px;
      width: 100%;
      background-color: #ff4943;
      color: white;
      flex-direction: column;
      justify-content: center;
      align-items: center;

  }

  .receiptWindow {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: #ff4943;
}
/* 
#discountButtonRow {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#discountBody {
    height: 100%;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

.discountBodyText {
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-size: 1em;
} */